<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info | SMLY Casino</title>
    <link rel="shortcut icon" href="/img/logo/headlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/player.css">
</head>
<body>
    <%- include('header') %>
    <main class="main">
        <section class="section">
            <div class="section__content">
                <div class="section__logo">
                    <div class="section__logoImg">
                        <img class="section__img" src="/img/logo/avatarlogo.png" alt="Casino in a suitcase">
                    </div>
                    <span class="section__logoTitle"><strong>SMLY</strong> Casino</span>
                </div>
                <p class="section__p">
                   Here you can withdraw coins or view your personalized casino address to add more funds.
                </p>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title"><%= player.username %>'s Info</span>
                <div class="section__innerContent">
                    <div class="section__text ">
                        <p>You can use the Casino Address to transfer funds from your wallet to your casino account.</p>
                        <p class="section__note">* When depositing or withdrawing funds there can be few minutes waiting time for the transactions to be confirmed</p>
                    </div>
                    <div class="section__text section__stats">
                        <span class="section__span"><strong class="section__strong">Username:</strong> <%= player["username"] %></span>
                        <span class="section__span SMLY__address"><strong class="section__strong">Casino Address:</strong> <%= player["casinoAddress"] %></span>
                        <span class="section__span"><strong class="section__strong">Winnings:</strong> <%= player["currentWinnings"] %></span>
                        <span class="section__span"><strong class="section__strong">Balance:</strong> <%= totalAmount %> <span class="section__strong">SMLY</span></span>
                        <form action="/playerinfo" method="POST">
                            <button class="section__button" type="submit">Force Update Balance</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">QR Code</span>
                <div class="section__innerContent">
                    <div class="section__text ">
                        <p>Here you can conviently scan the QR code of the Casino Address to hasten the process of transferring funds</p>
                    </div>
                    <div class="section__text section__qr">
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">Withdraw Funds</span>
                <div class="section__innerContent">
                    <div class="section__text">
                        <p>Here you can withdraw your winnings or cash out everything</p>
                    </div>
                    <form class="section__form" action="/cashout" method="POST">
                        <label class="section__label" for="amount">Withdraw Amount:</label>
                        <input class="section__input" type="number" placeholder="0" name="amount" id="amount" min=1 max="<%= totalAmount %>" required><span class="currency">SMLY</span>
                       
                        <button class="section__button" type="submit">Cash out</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %>
    <script src="/scripts/qrcode.js"></script>
    <script src="/scripts/playerinfo.js"></script>
</body>
</html>