<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info | SMLY Casino</title>
    <link rel="shortcut icon" href="/img/logo/headlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/player.css">
</head>
<body>
    <%- include('header') %>
    <main class="player">
        <section class="player__info">
            <span><strong>Username:</strong> <%= player["username"] %></span>
            <span><strong>Casino Address:</strong> <%= player["casinoAddress"] %></span>
            <span><strong>Balance:</strong> <%= totalAmount %></span>
            
            <form action="/playerinfo" method="POST">
                <button type="submit">Update Balance</button>
            </form>

            <form action="/cashout" method="POST">
                <label for="amount">Withdraw Amount</label>
                <input type="number" placeholder="0" name="amount" id="amount" max="<%= totalAmount %>" required><span class="currency">SMLY</span>
                <button type="submit">Cash Out</button>
            </form>
        </section>
    </main>
    <%- include('footer') %>
</body>
</html>